* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #526e62;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    max-width: 500px;
    width: 100%;
    background: rgb(91, 107, 114);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgb(255, 255, 255);
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
}

input:focus {
    border: 1px solid #28a745;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.add-btn {
    background: #28a745;
    color: white;
}

.add-btn:hover {
    background: #218838;
}

.product-item {
    background: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(240, 240, 240, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details {
    text-align: left;
    flex-grow: 1;
}

.edit-btn, .delete-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.edit-btn {
    background: #6292be;
    color: rgb(255, 255, 255);
}

.edit-btn:hover {
    background: #6292be;
}

.delete-btn {
    background: #dc3535;
    color: rgb(255, 255, 255);
}

.delete-btn:hover {
    background: #c82333;
}
